GO
USE [BHSDB_Charlotte];
GO

/****** Object:  Table [dbo].[MIS_DATE_BASIC]    Script Date: 19-Dec-13 5:59:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[MIS_DATE_BASIC](
	[DATE_BASIC_VALUE] [varchar](20) NOT NULL,
	[DATE_BASIC_LABEL] [varchar](20) NULL,
	[IS_DEFAULT] [bit] NULL,
 CONSTRAINT [PK_MIS_DATE_BASIC] PRIMARY KEY CLUSTERED 
(
	[DATE_BASIC_VALUE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[MIS_DATE_BASIC] ([DATE_BASIC_VALUE], [DATE_BASIC_LABEL], [IS_DEFAULT]) VALUES (N'15MINUTES', N'15 MINUTES', 0)
GO
INSERT [dbo].[MIS_DATE_BASIC] ([DATE_BASIC_VALUE], [DATE_BASIC_LABEL], [IS_DEFAULT]) VALUES (N'1DAY', N'1 DAY', 1)
GO
INSERT [dbo].[MIS_DATE_BASIC] ([DATE_BASIC_VALUE], [DATE_BASIC_LABEL], [IS_DEFAULT]) VALUES (N'1HOUR', N'1 HOUR', 0)
GO
