USE [BHSDB]
GO
/****** Object:  StoredProcedure [dbo].[stp_RPT_BAGTRACE_CSIA_NEW]    Script Date: 11/01/2013 12:03:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[stp_RPT_BAGTRACE_CSIA_NEW]
	@DTFrom [datetime],
	@DTTo [datetime],
	@GID VARCHAR(15),
	@LICENSE_PLATE VARCHAR(15)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	-- TEST
	SET NOCOUNT ON;

	IF LEN(@GID)>10
	BEGIN
		RETURN NULL
	END
	
	IF LEN(@LICENSE_PLATE)>10
	BEGIN
		RETURN NULL
	END

	IF EXISTS (SELECT NAME FROM tempdb..sysobjects WHERE NAME LIKE '#GID_USED_TEMP')
			BEGIN
				DROP TABLE #GID_USED_TEMP;
			END
	SELECT TIME_STAMP, GID, LOCATION, BAG_TYPE INTO #GID_USED_TEMP 
		FROM GID_USED WHERE TIME_STAMP BETWEEN @DTFrom AND @DTTo

	IF EXISTS (SELECT NAME FROM tempdb..sysobjects WHERE NAME LIKE '#ITEM_INVENTORY_TEMP')
			BEGIN
				DROP TABLE #ITEM_INVENTORY_TEMP;
			END
	SELECT ENTRY_TIME, LICENSE_PLATE, STATION_NAME,RETRIEVED INTO #ITEM_INVENTORY_TEMP
		FROM ITEM_INVENTORY WHERE ENTRY_TIME BETWEEN @DTFrom AND @DTTo

	IF EXISTS (SELECT NAME FROM tempdb..sysobjects WHERE NAME LIKE '#ITEM_INVENTORY_HISTORY_TEMP')
			BEGIN
				DROP TABLE #ITEM_INVENTORY_HISTORY_TEMP;
			END
	SELECT TIME_STAMP, LICENSE_PLATE, STATION_NAME,RETRIEVED INTO #ITEM_INVENTORY_HISTORY_TEMP
		FROM ITEM_INVENTORY_HISTORY WHERE TIME_STAMP BETWEEN @DTFrom AND @DTTo

	IF EXISTS (SELECT NAME FROM tempdb..sysobjects WHERE NAME LIKE '#BAGGAGE_MEASURE_ARRAY_MSG_TEMP')
			BEGIN
				DROP TABLE #BAGGAGE_MEASURE_ARRAY_MSG_TEMP;
			END
	SELECT TIME_STAMP, GID, LICENSE_PLATE,TYPE INTO #BAGGAGE_MEASURE_ARRAY_MSG_TEMP
		FROM BAGGAGE_MEASURE_ARRAY_MSG WHERE TIME_STAMP BETWEEN @DTFrom AND @DTTo

	IF EXISTS (SELECT NAME FROM tempdb..sysobjects WHERE NAME LIKE '#ITEM_SCANNED_TEMP')
			BEGIN
				DROP TABLE #ITEM_SCANNED_TEMP;
			END	
	SELECT TIME_STAMP, GID, LICENSE_PLATE1, LICENSE_PLATE2, LICENSE_PLATE3, LOCATION, STATUS_TYPE INTO #ITEM_SCANNED_TEMP
		FROM ITEM_SCANNED WHERE TIME_STAMP BETWEEN @DTFrom AND @DTTo

	IF EXISTS (SELECT NAME FROM tempdb..sysobjects WHERE NAME LIKE '#ITEM_REDIRECT_TEMP')
			BEGIN
				DROP TABLE #ITEM_REDIRECT_TEMP;
			END		
	SELECT TIME_STAMP, GID, LICENSE_PLATE, SUBSYSTEM1, LOCATION1, SUBSYSTEM2, LOCATION2,SUBSYSTEM3, LOCATION3, REASON, BCAS INTO #ITEM_REDIRECT_TEMP
		FROM ITEM_REDIRECT WHERE TIME_STAMP BETWEEN @DTFrom AND @DTTo

	IF EXISTS (SELECT NAME FROM tempdb..sysobjects WHERE NAME LIKE '#ITEM_PROCEEDED_TEMP')
			BEGIN
				DROP TABLE #ITEM_PROCEEDED_TEMP;
			END		
	SELECT TIME_STAMP, GID, LICENSE_PLATE, LOCATION, PROCEED_LOCATION,PROCEED_TYPE INTO #ITEM_PROCEEDED_TEMP
		FROM ITEM_PROCEEDED WHERE TIME_STAMP BETWEEN @DTFrom AND @DTTo

	IF EXISTS (SELECT NAME FROM tempdb..sysobjects WHERE NAME LIKE '#ITEM_LOST_TEMP')
			BEGIN
				DROP TABLE #ITEM_LOST_TEMP;
			END		
	SELECT TIME_STAMP, GID, LICENSE_PLATE, LOCATION INTO #ITEM_LOST_TEMP
		FROM ITEM_LOST WHERE TIME_STAMP BETWEEN @DTFrom AND @DTTo

	IF EXISTS (SELECT NAME FROM tempdb..sysobjects WHERE NAME LIKE '#ITEM_READY_TEMP')
			BEGIN
				DROP TABLE #ITEM_READY_TEMP;
			END	
	SELECT TIME_STAMP, GID, LICENSE_PLATE, LOCATION INTO #ITEM_READY_TEMP
		FROM ITEM_READY WHERE TIME_STAMP BETWEEN @DTFrom AND @DTTo	
		
	IF EXISTS (SELECT NAME FROM tempdb..sysobjects WHERE NAME LIKE '#ITEM_ENCODED_TEMP')
			BEGIN
				DROP TABLE #ITEM_ENCODED_TEMP;
			END	
	SELECT TIME_STAMP, GID, LICENSE_PLATE, SUBSYSTEM, LOCATION, DESTINATION, ENCODED_TYPE,SORTER INTO #ITEM_ENCODED_TEMP
		FROM ITEM_ENCODED WHERE TIME_STAMP BETWEEN @DTFrom AND @DTTo	

	IF EXISTS (SELECT NAME FROM tempdb..sysobjects WHERE NAME LIKE '#ITEM_REMOVED_TEMP')
			BEGIN
				DROP TABLE #ITEM_REMOVED_TEMP;
			END	
	SELECT TIME_STAMP, GID, LICENSE_PLATE, LOCATION INTO #ITEM_REMOVED_TEMP
		FROM ITEM_REMOVED WHERE TIME_STAMP BETWEEN @DTFrom AND @DTTo	

	IF EXISTS (SELECT NAME FROM tempdb..sysobjects WHERE NAME LIKE '#ITEM_TRACKING_TEMP')
			BEGIN
				DROP TABLE #ITEM_TRACKING_TEMP;
			END	
	SELECT TIME_STAMP, GID, LICENSE_PLATE, LOCATION INTO #ITEM_TRACKING_TEMP
		FROM ITEM_TRACKING WHERE TIME_STAMP BETWEEN @DTFrom AND @DTTo	

	IF EXISTS (SELECT NAME FROM tempdb..sysobjects WHERE NAME LIKE '#ITEM_CUSTOMS_SCREENED_TEMP')
			BEGIN
				DROP TABLE #ITEM_CUSTOMS_SCREENED_TEMP;
			END	
	SELECT TIME_STAMP, GID, LICENSE_PLATE, RESULT_TYPE INTO #ITEM_CUSTOMS_SCREENED_TEMP
		FROM ITEM_CUSTOMS_SCREENED WHERE TIME_STAMP BETWEEN @DTFrom AND @DTTo

	IF EXISTS (SELECT NAME FROM tempdb..sysobjects WHERE NAME LIKE '#ITEM_SCREENED_TEMP')
			BEGIN
				DROP TABLE #ITEM_SCREENED_TEMP;
			END	
	SELECT TIME_STAMP, GID, LICENSE_PLATE, SCREEN_LEVEL, RESULT_TYPE, LOCATION INTO #ITEM_SCREENED_TEMP
		FROM ITEM_SCREENED WHERE TIME_STAMP BETWEEN @DTFrom AND @DTTo

	IF EXISTS (SELECT NAME FROM tempdb..sysobjects WHERE NAME LIKE '#ITEM_MINIMUM_SECURITY_LEVEL_TEMP')
			BEGIN
				DROP TABLE #ITEM_MINIMUM_SECURITY_LEVEL_TEMP;
			END	
	SELECT TIME_STAMP, GID, LICENSE_PLATE, LEVEL, FLIGHT_TYPE INTO #ITEM_MINIMUM_SECURITY_LEVEL_TEMP
		FROM ITEM_MINIMUM_SECURITY_LEVEL WHERE TIME_STAMP BETWEEN @DTFrom AND @DTTo

	IF EXISTS (SELECT NAME FROM tempdb..sysobjects WHERE NAME LIKE '#TTS_ITEM_TRANSFER_TEMP')
			BEGIN
				DROP TABLE #TTS_ITEM_TRANSFER_TEMP;
			END	
	SELECT TIME_STAMP, SUBSYSTEM, UNIT_NO, UNIT_TYPE, GID, BARCODE1 INTO #TTS_ITEM_TRANSFER_TEMP
		FROM TTS_ITEM_TRANSFER WHERE TIME_STAMP BETWEEN @DTFrom AND @DTTo

	IF EXISTS (SELECT NAME FROM tempdb..sysobjects WHERE NAME LIKE '#TTS_ITEM_ID_TEMP')
			BEGIN
				DROP TABLE #TTS_ITEM_ID_TEMP;
			END	
	SELECT TIME_STAMP, SUBSYSTEM, GID, LICENSE_PLATE INTO #TTS_ITEM_ID_TEMP
		FROM TTS_ITEM_ID WHERE TIME_STAMP BETWEEN @DTFrom AND @DTTo

	IF EXISTS (SELECT NAME FROM tempdb..sysobjects WHERE NAME LIKE '#TTS_SCANNER_RESULT_TEMP')
			BEGIN
				DROP TABLE #TTS_SCANNER_RESULT_TEMP;
			END	
	SELECT TIME_STAMP, SUBSYSTEM, UNIT_NO, STATUS, GID, LICENSE_PLATE1, LICENSE_PLATE2, LICENSE_PLATE3, RESPOND_LENGTH INTO #TTS_SCANNER_RESULT_TEMP
		FROM TTS_SCANNER_RESULT R WHERE TIME_STAMP BETWEEN @DTFrom AND @DTTo

	IF EXISTS (SELECT NAME FROM tempdb..sysobjects WHERE NAME LIKE '#TTS_ITEM_INDUCTED_TEMP')
			BEGIN
				DROP TABLE #TTS_ITEM_INDUCTED_TEMP;
			END		
	SELECT TIME_STAMP, SUBSYSTEM, STATUS, INDUCTION_NO, CARRIER_NO, GID, LICENSE_PLATE INTO #TTS_ITEM_INDUCTED_TEMP
		FROM TTS_ITEM_INDUCTED WHERE TIME_STAMP BETWEEN @DTFrom AND @DTTo	

	IF EXISTS (SELECT NAME FROM tempdb..sysobjects WHERE NAME LIKE '#TTS_ITEM_REDIRECT_TEMP')
			BEGIN
				DROP TABLE #TTS_ITEM_REDIRECT_TEMP;
			END	
	SELECT TIME_STAMP, SUBSYSTEM, DESTINATION, GID, LICENSE_PLATE, REASON INTO #TTS_ITEM_REDIRECT_TEMP 
		FROM TTS_ITEM_REDIRECT WHERE TIME_STAMP BETWEEN @DTFrom AND @DTTo

	IF EXISTS (SELECT NAME FROM tempdb..sysobjects WHERE NAME LIKE '#TTS_DISCHARGE_SUPERVISION_TEMP')
			BEGIN
				DROP TABLE #TTS_DISCHARGE_SUPERVISION_TEMP;
			END	
	SELECT TIME_STAMP, SUBSYSTEM, DESTINATION, STATUS, GID, LICENSE_PLATE INTO #TTS_DISCHARGE_SUPERVISION_TEMP
		FROM TTS_DISCHARGE_SUPERVISION WHERE TIME_STAMP BETWEEN @DTFrom AND @DTTo

	IF EXISTS (SELECT NAME FROM tempdb..sysobjects WHERE NAME LIKE '#TTS_ITEM_DISCHARGED_TEMP')
			BEGIN
				DROP TABLE #TTS_ITEM_DISCHARGED_TEMP;
			END			
	SELECT TIME_STAMP, SUBSYSTEM, CHUTE_NO, GID, LICENSE_PLATE INTO #TTS_ITEM_DISCHARGED_TEMP
		FROM TTS_ITEM_DISCHARGED WHERE TIME_STAMP BETWEEN @DTFrom AND @DTTo	

	IF EXISTS (SELECT NAME FROM tempdb..sysobjects WHERE NAME LIKE '#TTS_ITEM_SORTATION_EVENT_TEMP')
			BEGIN
				DROP TABLE #TTS_ITEM_SORTATION_EVENT_TEMP;
			END	
	SELECT TIME_STAMP, SUBSYSTEM, DESTINATION, NEW_DESTINATION, REASON, GID, LICENSE_PLATE INTO #TTS_ITEM_SORTATION_EVENT_TEMP
		FROM TTS_ITEM_SORTATION_EVENT WHERE TIME_STAMP BETWEEN @DTFrom AND @DTTo

	IF EXISTS (SELECT NAME FROM tempdb..sysobjects WHERE NAME LIKE '#TTS_ITEM_DISAPPEARED_TEMP')
			BEGIN
				DROP TABLE #TTS_ITEM_DISAPPEARED_TEMP;
			END
	SELECT TIME_STAMP, SUBSYSTEM, CARRIER_NO, GID, LICENSE_PLATE INTO #TTS_ITEM_DISAPPEARED_TEMP
		FROM TTS_ITEM_DISAPPEARED WHERE TIME_STAMP BETWEEN @DTFrom AND @DTTo

	IF EXISTS (SELECT NAME FROM tempdb..sysobjects WHERE NAME LIKE '#TTS_ITEM_REDIRECT_MULTIPLE_DESTINATION_TEMP')
			BEGIN
				DROP TABLE #TTS_ITEM_REDIRECT_MULTIPLE_DESTINATION_TEMP;
			END
	SELECT TIME_STAMP, SUBSYSTEM, DESTINATION, ALTERNATIVE_DESTINATION1, ALTERNATIVE_DESTINATION2, 
		ALTERNATIVE_DESTINATION3, ALTERNATIVE_DESTINATION4, ALTERNATIVE_DESTINATION5, GID, LICENSE_PLATE,REASON INTO #TTS_ITEM_REDIRECT_MULTIPLE_DESTINATION_TEMP
		FROM TTS_ITEM_REDIRECT_MULTIPLE_DESTINATION WHERE TIME_STAMP BETWEEN @DTFrom AND @DTTo
		
	IF EXISTS (SELECT NAME FROM tempdb..sysobjects WHERE NAME LIKE '#TTS_ITEM_REDIRECT_ACKNOWLEDGE_TEMP')
			BEGIN
				DROP TABLE #TTS_ITEM_REDIRECT_ACKNOWLEDGE_TEMP;
			END			
	SELECT TIME_STAMP, SUBSYSTEM, GID, LICENSE_PLATE, REASON INTO #TTS_ITEM_REDIRECT_ACKNOWLEDGE_TEMP
		FROM TTS_ITEM_REDIRECT_ACKNOWLEDGE WHERE TIME_STAMP BETWEEN @DTFrom AND @DTTo	

	--SELECT * FROM #GID_USED_TEMP where gid='
	--SELECT * FROM #ITEM_INVENTORY_TEMP
	--SELECT * FROM #ITEM_INVENTORY_HISTORY_TEMP
	--SELECT * FROM #BAGGAGE_MEASURE_ARRAY_MSG_TEMP
	--SELECT * FROM #ITEM_SCANNED_TEMP
	--SELECT * FROM #ITEM_REDIRECT_TEMP
	--SELECT * FROM #ITEM_PROCEEDED_TEMP
	--SELECT * FROM #ITEM_LOST_TEMP
	--SELECT * FROM #ITEM_READY_TEMP
	--SELECT * FROM #ITEM_ENCODED_TEMP
	--SELECT * FROM #ITEM_REMOVED_TEMP
	--SELECT * FROM #ITEM_TRACKING_TEMP
	--SELECT * FROM #ITEM_CUSTOMS_SCREENED_TEMP
	--SELECT * FROM #ITEM_SCREENED_TEMP
	--SELECT * FROM #ITEM_MINIMUM_SECURITY_LEVEL_TEMP
	--SELECT * FROM #TTS_ITEM_TRANSFER_TEMP
	--SELECT * FROM #TTS_ITEM_ID_TEMP
	--SELECT * FROM #TTS_SCANNER_RESULT_TEMP
	--SELECT * FROM #TTS_ITEM_INDUCTED_TEMP
	--SELECT * FROM #TTS_ITEM_REDIRECT_TEMP
	--SELECT * FROM #TTS_DISCHARGE_SUPERVISION_TEMP
	--SELECT * FROM #TTS_ITEM_DISCHARGED_TEMP
	--SELECT * FROM #TTS_ITEM_SORTATION_EVENT_TEMP
	--SELECT * FROM #TTS_ITEM_DISAPPEARED_TEMP
	--SELECT * FROM #TTS_ITEM_REDIRECT_MULTIPLE_DESTINATION_TEMP	
	
	IF EXISTS (SELECT NAME FROM tempdb..sysobjects WHERE NAME LIKE '#BAG_TAG_TEMP')
	BEGIN
		DROP TABLE #BAG_TAG_TEMP;
	END
	
	PRINT 'BAG TAG TEMP DROP'
	
	CREATE TABLE #BAG_TAG_TEMP (TIME_STAMP DATETIME, GID VARCHAR(10), LICENSE_PLATE VARCHAR(10), ROW_VALUE VARCHAR(2))
	
	PRINT 'CREATE BAG TAG TEMP TABLE'
	
	IF LEN(@LICENSE_PLATE)=10 AND (LEN(@GID)=0 OR @GID=NULL) 
	BEGIN
	PRINT 'INSERT BAG_TAG_TEMP STARTS'
	INSERT INTO #BAG_TAG_TEMP(TIME_STAMP, GID, LICENSE_PLATE, ROW_VALUE)
		SELECT DISTINCT TIME_STAMP, GID, '0000000000' AS 'LICENSE_PLATE' ,'1' AS 'ROW_VALUE'
		FROM #GID_USED_TEMP WHERE GID = @LICENSE_PLATE
		UNION ALL
		SELECT ENTRY_TIME, NULL AS 'GID' , LICENSE_PLATE,'2' AS 'ROW_VALUE'
		FROM #ITEM_INVENTORY_TEMP WHERE LICENSE_PLATE = @LICENSE_PLATE 
		UNION ALL
		SELECT DISTINCT TIME_STAMP, NULL AS 'GID' ,LICENSE_PLATE,'3' AS 'ROW_VALUE'
		FROM #ITEM_INVENTORY_HISTORY_TEMP WHERE LICENSE_PLATE = @LICENSE_PLATE
		UNION ALL
		SELECT DISTINCT TIME_STAMP, GID, LICENSE_PLATE,'4' AS 'ROW_VALUE'
		FROM #BAGGAGE_MEASURE_ARRAY_MSG_TEMP WHERE LICENSE_PLATE = @LICENSE_PLATE OR GID=@LICENSE_PLATE
		UNION ALL
		SELECT DISTINCT TIME_STAMP, GID, @LICENSE_PLATE AS 'LICENSE_PLATE','5' AS 'ROW_VALUE'
		FROM #ITEM_SCANNED_TEMP WHERE (LICENSE_PLATE1 = @LICENSE_PLATE OR LICENSE_PLATE2 = @LICENSE_PLATE OR LICENSE_PLATE3 = @LICENSE_PLATE) OR GID=@LICENSE_PLATE
		UNION ALL
		SELECT DISTINCT TIME_STAMP, GID, LICENSE_PLATE,'6' AS 'ROW_VALUE'
		FROM #ITEM_REDIRECT_TEMP WHERE LICENSE_PLATE = @LICENSE_PLATE OR GID=@LICENSE_PLATE
		UNION ALL
		SELECT DISTINCT TIME_STAMP, GID, LICENSE_PLATE,'7'  AS 'ROW_VALUE'
		FROM #ITEM_PROCEEDED_TEMP WHERE LICENSE_PLATE = @LICENSE_PLATE OR GID=@LICENSE_PLATE
		UNION ALL
		SELECT TIME_STAMP, GID, LICENSE_PLATE,'8' AS 'ROW_VALUE' 
		FROM #ITEM_LOST_TEMP WHERE LICENSE_PLATE = @LICENSE_PLATE OR GID=@LICENSE_PLATE
		UNION ALL
		SELECT DISTINCT TIME_STAMP, GID, LICENSE_PLATE,'9' AS 'ROW_VALUE' 
		FROM #ITEM_READY_TEMP WHERE LICENSE_PLATE = @LICENSE_PLATE OR GID=@LICENSE_PLATE
		UNION ALL
		SELECT DISTINCT TIME_STAMP,  GID, LICENSE_PLATE,'10' AS 'ROW_VALUE' 
		FROM #ITEM_ENCODED_TEMP WHERE LICENSE_PLATE = @LICENSE_PLATE OR GID=@LICENSE_PLATE
		UNION ALL
		SELECT DISTINCT TIME_STAMP, GID, LICENSE_PLATE,'11' AS 'ROW_VALUE'
		FROM #ITEM_REMOVED_TEMP WHERE LICENSE_PLATE = @LICENSE_PLATE OR GID=@LICENSE_PLATE
		UNION ALL
		SELECT DISTINCT TIME_STAMP, GID, LICENSE_PLATE,'12' AS 'ROW_VALUE'
		FROM #ITEM_TRACKING_TEMP WHERE LICENSE_PLATE = @LICENSE_PLATE OR GID=@LICENSE_PLATE
		UNION ALL
		SELECT DISTINCT TIME_STAMP, GID , LICENSE_PLATE,'13' AS 'ROW_VALUE'
		FROM #ITEM_CUSTOMS_SCREENED_TEMP WHERE LICENSE_PLATE = @LICENSE_PLATE OR GID=@LICENSE_PLATE
		UNION ALL
		SELECT DISTINCT TIME_STAMP, GID, LICENSE_PLATE,'14' AS 'ROW_VALUE'
		FROM #ITEM_SCREENED_TEMP WHERE LICENSE_PLATE = @LICENSE_PLATE OR GID=@LICENSE_PLATE
		UNION ALL
		SELECT DISTINCT TIME_STAMP, GID, BARCODE1 AS 'LICENSE_PLATE','15' AS 'ROW_VALUE'
		FROM #TTS_ITEM_TRANSFER_TEMP WHERE BARCODE1 = @LICENSE_PLATE OR GID=@LICENSE_PLATE
		UNION ALL
		SELECT DISTINCT TIME_STAMP, GID, LICENSE_PLATE,'16' AS 'ROW_VALUE'
		FROM #TTS_ITEM_ID_TEMP WHERE LICENSE_PLATE = @LICENSE_PLATE OR GID=@LICENSE_PLATE
		UNION ALL		
		SELECT DISTINCT TIME_STAMP, NULL AS 'GID', @LICENSE_PLATE AS 'LICENSE_PLATE','17' AS 'ROW_VALUE'
		FROM #TTS_SCANNER_RESULT_TEMP  WHERE (LICENSE_PLATE1 = @LICENSE_PLATE OR LICENSE_PLATE2 = @LICENSE_PLATE OR LICENSE_PLATE3 = @LICENSE_PLATE)
		UNION ALL
		SELECT DISTINCT TIME_STAMP, @LICENSE_PLATE AS 'GID', '0000000000' AS 'LICENSE_PLATE','18' AS 'ROW_VALUE'
		FROM #TTS_SCANNER_RESULT_TEMP  WHERE GID=@LICENSE_PLATE
		UNION ALL
		SELECT DISTINCT TIME_STAMP, GID, LICENSE_PLATE,'19' AS 'ROW_VALUE'
		FROM #TTS_ITEM_INDUCTED_TEMP WHERE LICENSE_PLATE = @LICENSE_PLATE OR GID=@LICENSE_PLATE
		UNION ALL
		SELECT DISTINCT TIME_STAMP, GID, LICENSE_PLATE,'20' AS 'ROW_VALUE'
		FROM #TTS_ITEM_REDIRECT_TEMP WHERE LICENSE_PLATE = @LICENSE_PLATE OR GID=@LICENSE_PLATE
		UNION ALL
		SELECT DISTINCT TIME_STAMP , GID, LICENSE_PLATE,'21' AS 'ROW_VALUE'
		FROM #TTS_DISCHARGE_SUPERVISION_TEMP WHERE LICENSE_PLATE = @LICENSE_PLATE OR GID=@LICENSE_PLATE
		UNION ALL
		SELECT DISTINCT TIME_STAMP, GID, LICENSE_PLATE,'22' AS 'ROW_VALUE'
		FROM #TTS_ITEM_DISCHARGED_TEMP WHERE LICENSE_PLATE = @LICENSE_PLATE OR GID=@LICENSE_PLATE
		UNION ALL
		SELECT DISTINCT TIME_STAMP, GID, LICENSE_PLATE,'23' AS 'ROW_VALUE'
		FROM #TTS_ITEM_SORTATION_EVENT_TEMP WHERE LICENSE_PLATE = @LICENSE_PLATE OR GID=@LICENSE_PLATE
		UNION ALL
		SELECT DISTINCT TIME_STAMP, GID, LICENSE_PLATE,'24' AS 'ROW_VALUE'
		FROM #TTS_ITEM_DISAPPEARED_TEMP WHERE LICENSE_PLATE = @LICENSE_PLATE OR GID=@LICENSE_PLATE
		UNION ALL
		SELECT DISTINCT TIME_STAMP, GID, LICENSE_PLATE,'25' AS 'ROW_VALUE'
		FROM #ITEM_MINIMUM_SECURITY_LEVEL_TEMP WHERE LICENSE_PLATE = @LICENSE_PLATE OR GID=@LICENSE_PLATE
		UNION ALL
		SELECT DISTINCT TIME_STAMP, GID, LICENSE_PLATE,'26' AS 'ROW_VALUE'
		FROM #TTS_ITEM_REDIRECT_MULTIPLE_DESTINATION_TEMP WHERE LICENSE_PLATE = @LICENSE_PLATE  OR GID=@LICENSE_PLATE
		UNION ALL
		SELECT DISTINCT TIME_STAMP, GID, LICENSE_PLATE,'27' AS 'ROW_VALUE'
		FROM #TTS_ITEM_REDIRECT_ACKNOWLEDGE_TEMP WHERE LICENSE_PLATE = @LICENSE_PLATE  OR GID=@LICENSE_PLATE
		PRINT 'BAG TAG TEMP ENDS'			
	END
	ELSE IF LEN(@GID)=10 AND (LEN(@LICENSE_PLATE)=0 OR @LICENSE_PLATE=NULL)
	BEGIN	
	INSERT INTO #BAG_TAG_TEMP(TIME_STAMP, GID, LICENSE_PLATE, ROW_VALUE)
		VALUES (GETDATE(),@GID,'0000000000','0')
	END
	
	--SELECT * FROM #BAG_TAG_TEMP	

	IF EXISTS (SELECT NAME FROM tempdb..sysobjects WHERE NAME LIKE '#BAG_TRACE_TEMP')
			BEGIN
				DROP TABLE #BAG_TRACE_TEMP;
			END
			
	DECLARE @TEMPGID VARCHAR(10) ,@LP VARCHAR(10)

	CREATE TABLE #BAG_TRACE_TEMP (ID INT,TIME_STAMP DATETIME, BAG_EVENT NVARCHAR(2000))

	DECLARE GID_Cursor CURSOR FOR 
	SELECT DISTINCT GID FROM #BAG_TAG_TEMP WHERE GID<>'NULL'
	OPEN GID_Cursor

		FETCH NEXT FROM GID_Cursor INTO @TEMPGID;
		WHILE @@FETCH_STATUS = 0
		BEGIN
		INSERT INTO #BAG_TRACE_TEMP (TIME_STAMP,BAG_EVENT)
			SELECT TIME_STAMP, BAG_EVENT='GID (' + GID + ') generated at ' + LOCATION + ' as ' +
				CASE WHEN BAG_TYPE = 'NB' THEN 'Normal Bag.' ELSE 'Stray Bag.' END FROM #GID_USED_TEMP
			WHERE GID=@TEMPGID AND BAG_TYPE<>'IU' 
			UNION ALL
			SELECT TIME_STAMP, BAG_EVENT='GID (' + GID + ') generated at ' + LOCATION + ' as ' +
				CASE WHEN BAG_TYPE = 'NB' THEN 'Normal Bag.' ELSE 'Stray Bag.' END FROM #GID_USED_TEMP
			WHERE GID IN (SELECT GID FROM #ITEM_SCANNED_TEMP WHERE GID=@TEMPGID) AND BAG_TYPE<>'IU' 
			UNION ALL
			SELECT A.TIME_STAMP, BAG_EVENT = 'Bag measure as ' + T.[DESCRIPTION] + '.'
			FROM #BAGGAGE_MEASURE_ARRAY_MSG_TEMP A JOIN BAGGAGE_MEASURE_ARRAY_TYPE T ON A.[TYPE] = T.[TYPE]
			WHERE A.GID = @TEMPGID
			UNION ALL
			SELECT DISTINCT S.TIME_STAMP, BAG_EVENT = 'Bag scanned at ' + ISNULL(S.LOCATION, '') + ' with status of ' + T.[DESCRIPTION] + ' (' + S.LICENSE_PLATE1 + ').'
			FROM #ITEM_SCANNED_TEMP S JOIN ITEM_SCAN_STATUS_TYPES T ON S.STATUS_TYPE = T.[TYPE]
			WHERE S.GID = @TEMPGID AND S.STATUS_TYPE='00'
			UNION ALL
			SELECT DISTINCT S.TIME_STAMP, BAG_EVENT = 'Bag scanned at ' + ISNULL(S.LOCATION, '') + ' with status of ' + T.[DESCRIPTION] +
				CASE WHEN (S.STATUS_TYPE = '02' OR S.STATUS_TYPE = '00') THEN ' (' + COALESCE(S.LICENSE_PLATE1, '') + COALESCE(', ' + S.LICENSE_PLATE2, '') + 
					COALESCE(', ' + S.LICENSE_PLATE3, '') + ').' ELSE '.' END
			FROM #ITEM_SCANNED_TEMP S JOIN ITEM_SCAN_STATUS_TYPES T ON S.STATUS_TYPE = T.[TYPE]
			WHERE S.GID = @TEMPGID AND S.STATUS_TYPE='02'
			UNION ALL
			SELECT DISTINCT S.TIME_STAMP, BAG_EVENT = 'Bag scanned at ' + ISNULL(S.LOCATION, '') + ' with status of ' + T.[DESCRIPTION] + '.' 
			FROM #ITEM_SCANNED_TEMP S JOIN ITEM_SCAN_STATUS_TYPES T ON S.STATUS_TYPE = T.[TYPE]
			WHERE S.GID = @TEMPGID AND S.STATUS_TYPE<>'02' AND  S.STATUS_TYPE<>'00'
			UNION ALL
			SELECT DISTINCT I.TIME_STAMP, BAG_EVENT = 'Bag redirected to ' +  COALESCE(C1.DESTINATION, '') + COALESCE(', ' + C2.DESTINATION, '') +
			COALESCE(',' + C3.DESTINATION, '') + ' which is ' + R.[DESCRIPTION] + '.'  +
			CASE WHEN (BCAS='1') THEN ' BCAS Enabled: True' ELSE 
			CASE WHEN (BCAS='0') THEN ' BCAS Enabled: False' END END	+ '.'
			FROM #ITEM_REDIRECT_TEMP I JOIN SORTATION_REASON R ON I.REASON = R.REASON 
			JOIN CHUTE_MAPPING C1 ON (C1.TTS_ID=LOCATION1 AND C1.SORTER=SUBSYSTEM1)
			LEFT JOIN CHUTE_MAPPING C2 ON (C2.TTS_ID=LOCATION2 AND C2.SORTER=SUBSYSTEM2)
			LEFT JOIN CHUTE_MAPPING C3 ON (C3.TTS_ID=LOCATION3 AND C3.SORTER=SUBSYSTEM3)
			WHERE I.GID = @TEMPGID
			UNION ALL
			SELECT DISTINCT I.TIME_STAMP, BAG_EVENT = 'Bag redirected to Level 3 which is ' + R.[DESCRIPTION] + '.' +
			CASE WHEN (BCAS='1') THEN ' BCAS Enabled: True' ELSE 
			CASE WHEN (BCAS='0') THEN ' BCAS Enabled: False' END END	+ '.'
			FROM #ITEM_REDIRECT_TEMP I JOIN SORTATION_REASON R ON I.REASON = R.REASON 
			WHERE I.GID = @TEMPGID AND ((I.SUBSYSTEM1='9000' AND I.LOCATION1='9000') OR (I.SUBSYSTEM2='9000' AND I.LOCATION2='9000')
			OR (I.SUBSYSTEM3='9000' AND I.LOCATION3='9000'))
			UNION ALL
			SELECT DISTINCT I.TIME_STAMP, BAG_EVENT = 'Bag redirected to Level 5 which is ' + R.[DESCRIPTION] + '.' +
			CASE WHEN (BCAS='1') THEN ' BCAS Enabled: True' ELSE 
			CASE WHEN (BCAS='0') THEN ' BCAS Enabled: False' END END	+ '.'
			FROM #ITEM_REDIRECT_TEMP I JOIN SORTATION_REASON R ON I.REASON = R.REASON 
			WHERE I.GID = @TEMPGID AND ((I.SUBSYSTEM1='9001' AND I.LOCATION1='9001') OR (I.SUBSYSTEM2='9001' AND I.LOCATION2='9001')
			OR (I.SUBSYSTEM3='9001' AND I.LOCATION3='9001'))
			UNION ALL
			SELECT DISTINCT P.TIME_STAMP, BAG_EVENT = 'Bag ' + T.[DESCRIPTION] + ' (' + P.LOCATION + ' to ' + P.PROCEED_LOCATION + ').'
			FROM #ITEM_PROCEEDED_TEMP P JOIN ITEM_PROCEED_TYPES T ON P.PROCEED_TYPE = T.[TYPE]
			WHERE P.GID = @TEMPGID
			UNION ALL
			SELECT TIME_STAMP, BAG_EVENT = 'Lost tracking on ' + LOCATION + ' with GID (' + GID + ').'
			FROM #ITEM_LOST_TEMP
			WHERE GID = @TEMPGID
			UNION ALL
			SELECT DISTINCT TIME_STAMP, BAG_EVENT = 'Bag reached at ' + LOCATION  + '.'
			FROM #ITEM_READY_TEMP
			WHERE GID = @TEMPGID
			UNION ALL
			SELECT DISTINCT I.TIME_STAMP, BAG_EVENT = 'Bag ' + LOWER(T.TYPE_DESC) + ' to ' + C.DESTINATION + '.'
			FROM #ITEM_ENCODED_TEMP I JOIN ITEM_ENCODE_TYPE T ON I.ENCODED_TYPE = T.ENCODE_TYPE
			JOIN CHUTE_MAPPING C ON I.DESTINATION = C.TTS_ID AND C.SORTER='TTS01'
			WHERE I.GID = @TEMPGID AND (I.SUBSYSTEM='MES01' OR I.SUBSYSTEM='MES02')
			UNION ALL
			SELECT DISTINCT I.TIME_STAMP, BAG_EVENT = 'Bag ' + LOWER(T.TYPE_DESC) + ' to ' + C.DESTINATION + '.'
			FROM #ITEM_ENCODED_TEMP I JOIN ITEM_ENCODE_TYPE T ON I.ENCODED_TYPE = T.ENCODE_TYPE
			JOIN CHUTE_MAPPING C ON I.DESTINATION = C.TTS_ID AND C.SORTER='TTS02'
			WHERE I.GID = @TEMPGID AND (I.SUBSYSTEM='MES03' OR I.SUBSYSTEM='MES04')
			UNION ALL
			SELECT DISTINCT I.TIME_STAMP, BAG_EVENT = 'Bag ' + LOWER(T.TYPE_DESC) + ' to ' + C.DESTINATION + '.'
			FROM #ITEM_ENCODED_TEMP I JOIN ITEM_ENCODE_TYPE T ON I.ENCODED_TYPE = T.ENCODE_TYPE
			JOIN CHUTE_MAPPING C ON I.DESTINATION = C.TTS_ID AND C.SORTER=I.SORTER
			WHERE I.GID = @TEMPGID AND (I.SUBSYSTEM<>'MES03' AND I.SUBSYSTEM<>'MES04' AND I.SUBSYSTEM<>'MES01' AND I.SUBSYSTEM<>'MES02')
			UNION ALL
			SELECT DISTINCT TIME_STAMP, BAG_EVENT = 'Bag removed at ' + LOCATION + '.' 
			FROM #ITEM_REMOVED_TEMP WHERE GID = @TEMPGID
			UNION ALL
			SELECT DISTINCT TIME_STAMP, BAG_EVENT = 'Bag reached at ' + LOCATION + '.' 
			FROM #ITEM_TRACKING_TEMP
			WHERE GID = @TEMPGID
			UNION ALL
			SELECT DISTINCT TIME_STAMP, BAG_EVENT = 'Customs screening result: ' + R.[DESCRIPTION] + '.' 
			FROM #ITEM_CUSTOMS_SCREENED_TEMP C JOIN ITEM_CUSTOMS_RESULT_TYPES R ON C.RESULT_TYPE = R.[TYPE]
			WHERE GID = @TEMPGID
			UNION ALL
			SELECT DISTINCT TIME_STAMP, BAG_EVENT = 'HBS screening result: Level ' + S.SCREEN_LEVEL + '-' + R.[DESCRIPTION] + '.' 
			FROM #ITEM_SCREENED_TEMP S JOIN ITEM_SCREEN_RESULT_TYPES R ON S.RESULT_TYPE = R.[TYPE]
			WHERE GID = @TEMPGID AND SCREEN_LEVEL <> 'DR'
			UNION ALL
			SELECT DISTINCT TIME_STAMP, BAG_EVENT = 'Bag destination request at ' + S.LOCATION + '.' 
			FROM #ITEM_SCREENED_TEMP S WHERE GID = @TEMPGID AND SCREEN_LEVEL = 'DR'
			UNION ALL
			SELECT DISTINCT T.TIME_STAMP, BAG_EVENT = 'Bag transfered from conveyor to TTS induction at ' + M.LOCATION + '.' 
			FROM #TTS_ITEM_TRANSFER_TEMP T JOIN TTS_LOCATION_MAPPING M ON T.UNIT_NO = M.TTS_ID AND M.SORTER= T.SUBSYSTEM
			WHERE GID = @TEMPGID AND T.UNIT_TYPE='0'
			UNION ALL
			SELECT DISTINCT T.TIME_STAMP , BAG_EVENT = 'Bag transfered from '+ T.SUBSYSTEM +' chute (' + T.UNIT_NO + ') to ' 
				+ CASE WHEN (T.UNIT_NO = '9' OR T.UNIT_NO = '11' OR T.UNIT_NO = '8' OR T.UNIT_NO = '10') THEN 'MES' ELSE 
				CASE WHEN (T.UNIT_NO = '2' OR T.UNIT_NO = '3') THEN 'CDS' ELSE 
				CASE WHEN (T.UNIT_NO = '56' OR T.UNIT_NO = '57') THEN 'EDS' ELSE 'makeup carousel' END END END			 
			FROM #TTS_ITEM_TRANSFER_TEMP T WHERE GID = @TEMPGID AND T.UNIT_TYPE='1'
			UNION ALL
			SELECT DISTINCT TIME_STAMP, BAG_EVENT = 'GID (' + GID + ') generated for sorter.'  			
			FROM TTS_ITEM_ID WHERE GID = @TEMPGID AND GID<>'000000000'		
			UNION ALL
			SELECT DISTINCT R.TIME_STAMP, BAG_EVENT = 'Bag scanned at ' + + M.LOCATION + ' (' + M.[DESCRIPTION] + ') with status of ' + T.[DESCRIPTION] +
			' and No Read.'
			FROM TTS_SCANNER_RESULT R JOIN TTS_LOCATION_MAPPING M ON R.UNIT_NO = M.TTS_ID AND M.SORTER=R.SUBSYSTEM
			JOIN TTS_SCANNER_RESULT_STATUS_TYPE T ON R.[STATUS] = T.[TYPE]
			WHERE (R.RESPOND_LENGTH='4') AND (R.GID = @TEMPGID)
			UNION ALL
			SELECT DISTINCT R.TIME_STAMP, BAG_EVENT = 'Bag scanned at ' + M.LOCATION + ' (' + M.[DESCRIPTION] + ') with status of ' + T.[DESCRIPTION] + 
			'(' + COALESCE(R.LICENSE_PLATE1, '') + COALESCE(', ' + R.LICENSE_PLATE2, '') + 
					COALESCE(', ' + R.LICENSE_PLATE3, '') + ').'
			FROM #TTS_SCANNER_RESULT_TEMP R JOIN TTS_LOCATION_MAPPING M ON R.UNIT_NO = M.TTS_ID AND M.SORTER=R.SUBSYSTEM
			JOIN TTS_SCANNER_RESULT_STATUS_TYPE T ON R.[STATUS] = T.[TYPE]
			WHERE (R.RESPOND_LENGTH<>'4') AND (R.GID = @TEMPGID)
			UNION ALL
			SELECT DISTINCT I.TIME_STAMP, BAG_EVENT = 'Bag inducted at ' + M.LOCATION + '.' 
			FROM #TTS_ITEM_INDUCTED_TEMP I JOIN TTS_LOCATION_MAPPING M ON  M.TTS_ID = I.INDUCTION_NO AND M.SORTER=I.SUBSYSTEM
			WHERE I.GID = @TEMPGID AND [STATUS] IN (0,1)
			UNION ALL
			SELECT DISTINCT I.TIME_STAMP, BAG_EVENT = 'Bag inducted at ' + M.LOCATION + '.' 
			FROM #TTS_ITEM_INDUCTED_TEMP I JOIN TTS_LOCATION_MAPPING M ON I.CARRIER_NO = M.TTS_ID AND M.SORTER=I.SUBSYSTEM
			WHERE I.GID = @TEMPGID AND [STATUS] = 2
			UNION ALL
			SELECT DISTINCT R.TIME_STAMP , BAG_EVENT = 'Bag redirected to ' + C.DESTINATION + ' which is ' + S.DESCRIPTION + '.'
			FROM #TTS_ITEM_REDIRECT_TEMP R JOIN CHUTE_MAPPING C ON R.DESTINATION = C.TTS_ID AND C.SORTER=R.SUBSYSTEM JOIN SORTATION_REASON S ON R.REASON = S.REASON 
			WHERE R.GID = @TEMPGID
			UNION ALL
			SELECT DISTINCT R.TIME_STAMP , BAG_EVENT = 'Bag redirected to ' + L.LOCATION + '('+ L.DESCRIPTION +')' + ' which is ' + S.DESCRIPTION + '.'
			FROM #TTS_ITEM_REDIRECT_TEMP R JOIN TTS_LOCATION_MAPPING L ON R.DESTINATION = L.TTS_ID AND L.SORTER=R.SUBSYSTEM JOIN SORTATION_REASON S ON R.REASON = S.REASON 
			WHERE R.GID = @TEMPGID AND L.LOCATION<>'4099'
			UNION ALL
			SELECT DISTINCT R.TIME_STAMP , BAG_EVENT = 'Bag redirected to any 270 degree ATR which is ' + S.DESCRIPTION + '.'
			FROM #TTS_ITEM_REDIRECT_TEMP R JOIN TTS_LOCATION_MAPPING L ON R.DESTINATION = L.TTS_ID AND L.SORTER=R.SUBSYSTEM JOIN SORTATION_REASON S ON R.REASON = S.REASON 
			WHERE R.GID = @TEMPGID AND L.LOCATION='4099'
			UNION ALL
			SELECT DISTINCT S.TIME_STAMP , BAG_EVENT = 'Bag supervised at ' + C.DESTINATION  + ' with status of ' + T.[DESCRIPTION] + '.'
			FROM #TTS_DISCHARGE_SUPERVISION_TEMP S JOIN TTS_DISCHARGE_SUPERVISION_STATUS_TYPE T ON S.[STATUS] = T.[TYPE] 
			JOIN CHUTE_MAPPING C ON S.DESTINATION = C.TTS_ID AND C.SORTER=S.SUBSYSTEM
			WHERE S.GID = @TEMPGID
			UNION ALL
			SELECT DISTINCT D.TIME_STAMP, BAG_EVENT = 'Bag discharged at ' + C.DESTINATION + '.' 
			FROM #TTS_ITEM_DISCHARGED_TEMP D JOIN CHUTE_MAPPING C ON D.CHUTE_NO = C.TTS_ID AND C.SORTER=D.SUBSYSTEM
			WHERE D.GID = @TEMPGID
			UNION ALL
			SELECT DISTINCT E.TIME_STAMP, BAG_EVENT = 'Bag sortation event for ' + C.DESTINATION + ' with status of ' + R.[DESCRIPTION] + 
			' and new destination is ' +  C1.DESTINATION			
			FROM TTS_ITEM_SORTATION_EVENT E JOIN TTS_ITEM_SORTATION_EVENT_REASON_TYPE R ON E.REASON = R.[TYPE]
			JOIN CHUTE_MAPPING C ON E.DESTINATION = C.TTS_ID AND C.SORTER=E.SUBSYSTEM
			JOIN CHUTE_MAPPING C1 ON E.NEW_DESTINATION = C1.TTS_ID AND C1.SORTER=E.SUBSYSTEM
			WHERE E.GID = @TEMPGID
			UNION ALL
			SELECT DISTINCT D.TIME_STAMP, BAG_EVENT = 'Bag disappear at ' + C.DESTINATION + '.'
			FROM #TTS_ITEM_DISAPPEARED_TEMP D JOIN CHUTE_MAPPING C ON D.CARRIER_NO = C.TTS_ID AND C.SORTER=D.SUBSYSTEM
			WHERE D.GID = @TEMPGID
			UNION ALL
			SELECT TIME_STAMP, BAG_EVENT = 'Bag Minimum Security Level: ' + [LEVEL] + ', ' +
			CASE WHEN (FLIGHT_TYPE='1') THEN 'Customs Required: False' ELSE 
			CASE WHEN (FLIGHT_TYPE='0') THEN 'Customs Required: True' END END
			FROM #ITEM_MINIMUM_SECURITY_LEVEL_TEMP WHERE GID = @TEMPGID
			UNION ALL
			SELECT DISTINCT M.TIME_STAMP, BAG_EVENT = 'Bag redirected to ' +
			D.DESTINATION + COALESCE(',' + D1.DESTINATION, '') + COALESCE(',' + D2.DESTINATION, '') + COALESCE(',' + D3.DESTINATION, '') + COALESCE(',' + D4.DESTINATION, '') +
			COALESCE(',' + D5.DESTINATION, '') + ' which is ' + R.DESCRIPTION + '.'
			FROM #TTS_ITEM_REDIRECT_MULTIPLE_DESTINATION_TEMP M JOIN CHUTE_MAPPING C ON M.DESTINATION = C.TTS_ID AND C.SORTER=M.SUBSYSTEM
			JOIN SORTATION_REASON R ON M.REASON = R.REASON 
			LEFT JOIN CHUTE_MAPPING D ON M.DESTINATION = D.TTS_ID AND M.SUBSYSTEM=D.SORTER
			LEFT JOIN CHUTE_MAPPING D1 ON M.ALTERNATIVE_DESTINATION1 = D1.TTS_ID AND M.SUBSYSTEM=D1.SORTER
			LEFT JOIN CHUTE_MAPPING D2 ON M.ALTERNATIVE_DESTINATION2 = D2.TTS_ID AND M.SUBSYSTEM=D2.SORTER
			LEFT JOIN CHUTE_MAPPING D3 ON M.ALTERNATIVE_DESTINATION3 = D3.TTS_ID AND M.SUBSYSTEM=D3.SORTER
			LEFT JOIN CHUTE_MAPPING D4 ON M.ALTERNATIVE_DESTINATION4 = D4.TTS_ID AND M.SUBSYSTEM=D4.SORTER
			LEFT JOIN CHUTE_MAPPING D5 ON M.ALTERNATIVE_DESTINATION5 = D5.TTS_ID AND M.SUBSYSTEM=D5.SORTER
			WHERE GID = @TEMPGID		
			UNION ALL
			SELECT DISTINCT A.TIME_STAMP, BAG_EVENT = 'Bag redirect acknowledge received with reason : ' + R.DESCRIPTION + '.'
			FROM #TTS_ITEM_REDIRECT_ACKNOWLEDGE_TEMP A JOIN TTS_ITEM_REDIRECT_ACKNOWLEDGE_REASON_TYPE R ON R.TYPE = A.REASON
			WHERE A.GID = @TEMPGID	
		FETCH NEXT FROM GID_Cursor INTO @TEMPGID;
		END
			
	CLOSE GID_Cursor;
	DEALLOCATE GID_Cursor;

	--IF LEN(@LICENSE_PLATE)=10 AND LEN(@GID)=0
	--BEGIN
	DECLARE LP_Cursor CURSOR FOR 
	SELECT DISTINCT LICENSE_PLATE FROM #BAG_TAG_TEMP WHERE LICENSE_PLATE<>'NULL' AND LICENSE_PLATE<>'0000000000' AND LICENSE_PLATE<>'9999999999' AND SUBSTRING(LICENSE_PLATE,1,1)<>'1' AND SUBSTRING(LICENSE_PLATE,1,1)<>'9' AND LEN(LICENSE_PLATE)=10
	OPEN LP_Cursor

		FETCH NEXT FROM LP_Cursor INTO @LP;
		WHILE @@FETCH_STATUS = 0
		BEGIN
		INSERT INTO #BAG_TRACE_TEMP (TIME_STAMP,BAG_EVENT)
			SELECT TIME_STAMP, BAG_EVENT='GID (' + GID + ') generated at ' + LOCATION + ' as ' +
				CASE WHEN BAG_TYPE = 'NB' THEN 'Normal Bag.' ELSE 'Stray Bag.' END FROM #GID_USED_TEMP
			WHERE GID IN 
				(SELECT GID FROM #ITEM_SCANNED_TEMP WHERE LICENSE_PLATE1 = @LP
				UNION ALL
				SELECT GID FROM #ITEM_SCANNED_TEMP WHERE LICENSE_PLATE2 = @LP
				UNION ALL
				SELECT GID FROM #ITEM_SCANNED_TEMP WHERE LICENSE_PLATE3 = @LP) AND BAG_TYPE<>'IU'
			UNION ALL
			SELECT DISTINCT ENTRY_TIME, BAG_EVENT = 'Item registered at EBS station ' + STATION_NAME + '.' 
			FROM #ITEM_INVENTORY_TEMP WHERE LICENSE_PLATE = @LP AND RETRIEVED = 0
			UNION ALL
			SELECT DISTINCT TIME_STAMP, BAG_EVENT = 'Item retrieved from EBS station ' + STATION_NAME + '.' 
			FROM #ITEM_INVENTORY_HISTORY_TEMP WHERE LICENSE_PLATE = @LP AND RETRIEVED = 1
			UNION ALL
			SELECT DISTINCT TIME_STAMP, BAG_EVENT = 'Item deleted at EBS station ' + STATION_NAME + '.' 
			FROM #ITEM_INVENTORY_HISTORY_TEMP WHERE LICENSE_PLATE = @LP AND RETRIEVED = 2
			UNION ALL
			SELECT A.TIME_STAMP, BAG_EVENT = 'Bag measure as ' + T.[DESCRIPTION] + '.'
			FROM #BAGGAGE_MEASURE_ARRAY_MSG_TEMP A JOIN BAGGAGE_MEASURE_ARRAY_TYPE T ON A.[TYPE] = T.[TYPE]
			WHERE A.LICENSE_PLATE = @LP
			UNION ALL
			SELECT DISTINCT S.TIME_STAMP, BAG_EVENT = 'Bag scanned at ' + ISNULL(S.LOCATION, '') + ' with status of ' + T.[DESCRIPTION] + ' (' + S.LICENSE_PLATE1 + ').'
			FROM #ITEM_SCANNED_TEMP S JOIN ITEM_SCAN_STATUS_TYPES T ON S.STATUS_TYPE = T.[TYPE]
			WHERE S.LICENSE_PLATE1 = @LP AND S.STATUS_TYPE='00'
			UNION ALL
			SELECT DISTINCT S.TIME_STAMP, BAG_EVENT = 'Bag scanned at ' + ISNULL(S.LOCATION, '') + ' with status of ' + T.[DESCRIPTION] +
				CASE WHEN (S.STATUS_TYPE = '02' OR S.STATUS_TYPE = '00') THEN ' (' + COALESCE(S.LICENSE_PLATE1, '') + COALESCE(', ' + S.LICENSE_PLATE2, '') + 
					COALESCE(', ' + S.LICENSE_PLATE3, '') + ').' ELSE '.' END
			FROM #ITEM_SCANNED_TEMP S JOIN ITEM_SCAN_STATUS_TYPES T ON S.STATUS_TYPE = T.[TYPE]
			WHERE S.LICENSE_PLATE2 = @LP AND S.STATUS_TYPE='02'
			UNION ALL
			SELECT DISTINCT S.TIME_STAMP, BAG_EVENT = 'Bag scanned at ' + ISNULL(S.LOCATION, '') + ' with status of ' + T.[DESCRIPTION] + '.' 
			FROM #ITEM_SCANNED_TEMP S JOIN ITEM_SCAN_STATUS_TYPES T ON S.STATUS_TYPE = T.[TYPE]
			WHERE S.LICENSE_PLATE3 = @LP AND S.STATUS_TYPE<>'02' AND  S.STATUS_TYPE<>'00'
			UNION ALL
			SELECT DISTINCT I.TIME_STAMP, BAG_EVENT = 'Bag redirected to ' +  COALESCE(C1.DESTINATION, '') + COALESCE(', ' + C2.DESTINATION, '') +
			COALESCE(',' + C3.DESTINATION, '') + ' which is ' + R.[DESCRIPTION] + '.' +
			CASE WHEN (BCAS='1') THEN ' BCAS Enabled: True' ELSE 
			CASE WHEN (BCAS='0') THEN ' BCAS Enabled: False' END END + '.' 
			FROM #ITEM_REDIRECT_TEMP I JOIN SORTATION_REASON R ON I.REASON = R.REASON 
			JOIN CHUTE_MAPPING C1 ON (C1.TTS_ID=LOCATION1 AND C1.SORTER=SUBSYSTEM1)
			LEFT JOIN CHUTE_MAPPING C2 ON (C2.TTS_ID=LOCATION2 AND C2.SORTER=SUBSYSTEM2)
			LEFT JOIN CHUTE_MAPPING C3 ON (C3.TTS_ID=LOCATION3 AND C3.SORTER=SUBSYSTEM3)
			WHERE I.LICENSE_PLATE = @LP
			UNION ALL
			SELECT DISTINCT I.TIME_STAMP, BAG_EVENT = 'Bag redirected to Level 3 which is ' + R.[DESCRIPTION] + '.' +
			CASE WHEN (BCAS='1') THEN ' BCAS Enabled: True' ELSE 
			CASE WHEN (BCAS='0') THEN ' BCAS Enabled: False' END END	+ '.'
			FROM #ITEM_REDIRECT_TEMP I JOIN SORTATION_REASON R ON I.REASON = R.REASON 
			WHERE I.LICENSE_PLATE = @LP AND ((I.SUBSYSTEM1='9000' AND I.LOCATION1='9000') OR (I.SUBSYSTEM2='9000' AND I.LOCATION2='9000')
			OR (I.SUBSYSTEM3='9000' AND I.LOCATION3='9000'))
			UNION ALL
			SELECT DISTINCT I.TIME_STAMP, BAG_EVENT = 'Bag redirected to Level 5 which is ' + R.[DESCRIPTION] + '.' +
			CASE WHEN (BCAS='1') THEN ' BCAS Enabled: True' ELSE 
			CASE WHEN (BCAS='0') THEN ' BCAS Enabled: False' END END	+ '.'
			FROM #ITEM_REDIRECT_TEMP I JOIN SORTATION_REASON R ON I.REASON = R.REASON 
			WHERE I.LICENSE_PLATE = @LP AND ((I.SUBSYSTEM1='9001' AND I.LOCATION1='9001') OR (I.SUBSYSTEM2='9001' AND I.LOCATION2='9001')
			OR (I.SUBSYSTEM3='9001' AND I.LOCATION3='9001'))
			UNION ALL
			SELECT DISTINCT P.TIME_STAMP, BAG_EVENT = 'Bag ' + T.[DESCRIPTION] + ' (' + P.LOCATION + ' to ' + P.PROCEED_LOCATION + ').'
			FROM #ITEM_PROCEEDED_TEMP P JOIN ITEM_PROCEED_TYPES T ON P.PROCEED_TYPE = T.[TYPE]
			WHERE P.LICENSE_PLATE = @LP
			UNION ALL
			SELECT TIME_STAMP, BAG_EVENT = 'Lost tracking on ' + LOCATION + ' with GID (' + GID + ').'
			FROM #ITEM_LOST_TEMP
			WHERE LICENSE_PLATE = @LP
			UNION ALL
			SELECT DISTINCT TIME_STAMP, BAG_EVENT = 'Bag reached at ' + LOCATION  + '.'
			FROM #ITEM_READY_TEMP
			WHERE LICENSE_PLATE = @LP
			UNION ALL
			SELECT DISTINCT I.TIME_STAMP, BAG_EVENT = 'Bag ' + LOWER(T.TYPE_DESC) + ' to ' + C.DESTINATION + '.'
			FROM #ITEM_ENCODED_TEMP I JOIN ITEM_ENCODE_TYPE T ON I.ENCODED_TYPE = T.ENCODE_TYPE
			JOIN CHUTE_MAPPING C ON I.DESTINATION = C.TTS_ID AND C.SORTER='TTS01'
			WHERE I.LICENSE_PLATE = @LP AND (I.SUBSYSTEM='MES01' OR I.SUBSYSTEM='MES02')
			UNION ALL
			SELECT DISTINCT I.TIME_STAMP, BAG_EVENT = 'Bag ' + LOWER(T.TYPE_DESC) + ' to ' + C.DESTINATION + '.'
			FROM #ITEM_ENCODED_TEMP I JOIN ITEM_ENCODE_TYPE T ON I.ENCODED_TYPE = T.ENCODE_TYPE
			JOIN CHUTE_MAPPING C ON I.DESTINATION = C.TTS_ID AND C.SORTER='TTS02'
			WHERE I.LICENSE_PLATE = @LP AND (I.SUBSYSTEM='MES03' OR I.SUBSYSTEM='MES04')
			UNION ALL
			SELECT DISTINCT I.TIME_STAMP, BAG_EVENT = 'Bag ' + LOWER(T.TYPE_DESC) + ' to ' + C.DESTINATION + '.'
			FROM #ITEM_ENCODED_TEMP I JOIN ITEM_ENCODE_TYPE T ON I.ENCODED_TYPE = T.ENCODE_TYPE
			JOIN CHUTE_MAPPING C ON I.DESTINATION = C.TTS_ID AND C.SORTER=I.SORTER
			WHERE I.LICENSE_PLATE = @LP AND (I.SUBSYSTEM<>'MES03' AND I.SUBSYSTEM<>'MES04' AND I.SUBSYSTEM<>'MES01' AND I.SUBSYSTEM<>'MES02')
			UNION ALL
			SELECT DISTINCT TIME_STAMP, BAG_EVENT = 'Bag removed at ' + LOCATION + '.' 
			FROM #ITEM_REMOVED_TEMP WHERE LICENSE_PLATE = @LP
			UNION ALL
			SELECT DISTINCT TIME_STAMP, BAG_EVENT = 'Bag reached at ' + LOCATION + '.' 
			FROM #ITEM_TRACKING_TEMP
			WHERE LICENSE_PLATE = @LP
			UNION ALL
			SELECT DISTINCT TIME_STAMP, BAG_EVENT = 'Customs screening result: ' + R.[DESCRIPTION] + '.' 
			FROM #ITEM_CUSTOMS_SCREENED_TEMP C JOIN ITEM_CUSTOMS_RESULT_TYPES R ON C.RESULT_TYPE = R.[TYPE]
			WHERE LICENSE_PLATE = @LP
			UNION ALL
			SELECT DISTINCT TIME_STAMP, BAG_EVENT = 'HBS screening result: Level ' + S.SCREEN_LEVEL + '-' + R.[DESCRIPTION] + '.' 
			FROM #ITEM_SCREENED_TEMP S JOIN ITEM_SCREEN_RESULT_TYPES R ON S.RESULT_TYPE = R.[TYPE]
			WHERE LICENSE_PLATE = @LP AND SCREEN_LEVEL <> 'DR'
			UNION ALL
			SELECT DISTINCT TIME_STAMP, BAG_EVENT = 'Bag destination request at ' + S.LOCATION + '.' 
			FROM #ITEM_SCREENED_TEMP S WHERE LICENSE_PLATE = @LP AND SCREEN_LEVEL = 'DR'
			UNION ALL
			SELECT DISTINCT T.TIME_STAMP, BAG_EVENT = 'Bag transfered from conveyor to TTS induction at ' + M.LOCATION + '.' 
			FROM #TTS_ITEM_TRANSFER_TEMP T JOIN TTS_LOCATION_MAPPING M ON T.UNIT_NO = M.TTS_ID AND M.SORTER= T.SUBSYSTEM
			WHERE BARCODE1 = @LP AND T.UNIT_TYPE='0'
			UNION ALL
			SELECT DISTINCT T.TIME_STAMP , BAG_EVENT = 'Bag transfered from '+ T.SUBSYSTEM +' chute (' + T.UNIT_NO + ') to ' 
				+ CASE WHEN (T.UNIT_NO = '9' OR T.UNIT_NO = '11' OR T.UNIT_NO = '8' OR T.UNIT_NO = '10') THEN 'MES' ELSE 
				CASE WHEN (T.UNIT_NO = '2' OR T.UNIT_NO = '3') THEN 'CDS' ELSE 
				CASE WHEN (T.UNIT_NO = '56' OR T.UNIT_NO = '57') THEN 'EDS' ELSE 'makeup carousel' END END END
			FROM #TTS_ITEM_TRANSFER_TEMP T WHERE BARCODE1 = @LP AND T.UNIT_TYPE='1'
			UNION ALL
			SELECT DISTINCT TIME_STAMP, BAG_EVENT = 'GID (' + GID + ') generated for sorter.'  			
			FROM TTS_ITEM_ID WHERE LICENSE_PLATE = @LP AND GID<>'000000000'
			UNION ALL			
			SELECT DISTINCT R.TIME_STAMP, BAG_EVENT = 'Bag scanned at ' + + M.LOCATION + ' (' + M.[DESCRIPTION] + ') with status of ' + T.[DESCRIPTION] +
			' and No Read.'
			FROM TTS_SCANNER_RESULT R JOIN TTS_LOCATION_MAPPING M ON R.UNIT_NO = M.TTS_ID AND M.SORTER=R.SUBSYSTEM
			JOIN TTS_SCANNER_RESULT_STATUS_TYPE T ON R.[STATUS] = T.[TYPE]
			WHERE (R.RESPOND_LENGTH='4') AND (R.LICENSE_PLATE1 = @LP OR R.LICENSE_PLATE2 = @LP OR R.LICENSE_PLATE3 = @LP)
			UNION ALL
			SELECT DISTINCT R.TIME_STAMP, BAG_EVENT = 'Bag scanned at ' + M.LOCATION  + ' (' + M.[DESCRIPTION] + ') with status of ' + T.[DESCRIPTION] + 
			'(' + COALESCE(R.LICENSE_PLATE1, '') + COALESCE(', ' + R.LICENSE_PLATE2, '') + 
					COALESCE(', ' + R.LICENSE_PLATE3, '') + ').'
			FROM #TTS_SCANNER_RESULT_TEMP R JOIN TTS_LOCATION_MAPPING M ON R.UNIT_NO = M.TTS_ID AND M.SORTER=R.SUBSYSTEM
			JOIN TTS_SCANNER_RESULT_STATUS_TYPE T ON R.[STATUS] = T.[TYPE]
			WHERE (R.RESPOND_LENGTH<>'4') AND (R.LICENSE_PLATE1 = @LP OR R.LICENSE_PLATE2 = @LP OR R.LICENSE_PLATE3 = @LP)
			UNION ALL
			SELECT DISTINCT I.TIME_STAMP, BAG_EVENT = 'Bag inducted at ' + M.LOCATION + '.' 
			FROM #TTS_ITEM_INDUCTED_TEMP I JOIN TTS_LOCATION_MAPPING M ON  M.TTS_ID = I.INDUCTION_NO AND M.SORTER=I.SUBSYSTEM
			WHERE I.LICENSE_PLATE = @LP AND [STATUS] IN (0,1)
			UNION ALL
			SELECT DISTINCT I.TIME_STAMP, BAG_EVENT = 'Bag inducted at ' + M.LOCATION + '.' 
			FROM #TTS_ITEM_INDUCTED_TEMP I JOIN TTS_LOCATION_MAPPING M ON I.CARRIER_NO = M.TTS_ID AND M.SORTER=I.SUBSYSTEM
			WHERE I.LICENSE_PLATE = @LP AND [STATUS] = 2
			UNION ALL
			SELECT DISTINCT R.TIME_STAMP , BAG_EVENT = 'Bag redirected to ' + C.DESTINATION + ' which is ' + S.DESCRIPTION + '.'
			FROM #TTS_ITEM_REDIRECT_TEMP R JOIN CHUTE_MAPPING C ON R.DESTINATION = C.TTS_ID AND C.SORTER=R.SUBSYSTEM JOIN SORTATION_REASON S ON R.REASON = S.REASON 
			WHERE R.LICENSE_PLATE = @LP
			UNION ALL
			SELECT DISTINCT R.TIME_STAMP , BAG_EVENT = 'Bag redirected to ' + L.LOCATION + '('+ L.DESCRIPTION +')' + ' which is ' + S.DESCRIPTION + '.'
			FROM #TTS_ITEM_REDIRECT_TEMP R JOIN TTS_LOCATION_MAPPING L ON R.DESTINATION = L.TTS_ID AND L.SORTER=R.SUBSYSTEM JOIN SORTATION_REASON S ON R.REASON = S.REASON 
			WHERE R.LICENSE_PLATE = @LP AND L.LOCATION<>'4099'
			UNION ALL
			SELECT DISTINCT R.TIME_STAMP , BAG_EVENT = 'Bag redirected to any 270 degree ATR which is ' + S.DESCRIPTION + '.'
			FROM #TTS_ITEM_REDIRECT_TEMP R JOIN TTS_LOCATION_MAPPING L ON R.DESTINATION = L.TTS_ID AND L.SORTER=R.SUBSYSTEM JOIN SORTATION_REASON S ON R.REASON = S.REASON 
			WHERE R.LICENSE_PLATE = @LP AND L.LOCATION='4099'
			UNION ALL
			SELECT DISTINCT S.TIME_STAMP , BAG_EVENT = 'Bag supervised at ' + C.DESTINATION  + ' with status of ' + T.[DESCRIPTION] + '.'
			FROM #TTS_DISCHARGE_SUPERVISION_TEMP S JOIN TTS_DISCHARGE_SUPERVISION_STATUS_TYPE T ON S.[STATUS] = T.[TYPE] 
			JOIN CHUTE_MAPPING C ON S.DESTINATION = C.TTS_ID AND C.SORTER=S.SUBSYSTEM
			WHERE S.LICENSE_PLATE = @LP
			UNION ALL
			SELECT DISTINCT D.TIME_STAMP, BAG_EVENT = 'Bag discharged at ' + C.DESTINATION + '.' 
			FROM #TTS_ITEM_DISCHARGED_TEMP D JOIN CHUTE_MAPPING C ON D.CHUTE_NO = C.TTS_ID AND C.SORTER=D.SUBSYSTEM
			WHERE D.LICENSE_PLATE = @LP
			UNION ALL
			SELECT DISTINCT E.TIME_STAMP, BAG_EVENT = 'Bag sortation event for ' + C.DESTINATION + ' with status of ' + R.[DESCRIPTION] + 
			' and new destination is ' +  C1.DESTINATION			
			FROM TTS_ITEM_SORTATION_EVENT E JOIN TTS_ITEM_SORTATION_EVENT_REASON_TYPE R ON E.REASON = R.[TYPE]
			JOIN CHUTE_MAPPING C ON E.DESTINATION = C.TTS_ID AND C.SORTER=E.SUBSYSTEM
			JOIN CHUTE_MAPPING C1 ON E.NEW_DESTINATION = C1.TTS_ID AND C1.SORTER=E.SUBSYSTEM
			WHERE E.LICENSE_PLATE = @LP
			UNION ALL
			SELECT DISTINCT D.TIME_STAMP, BAG_EVENT = 'Bag disappear at ' + C.DESTINATION + '.'
			FROM #TTS_ITEM_DISAPPEARED_TEMP D JOIN CHUTE_MAPPING C ON D.CARRIER_NO = C.TTS_ID AND C.SORTER=D.SUBSYSTEM
			WHERE D.LICENSE_PLATE = @LP
			UNION ALL
			SELECT TIME_STAMP, BAG_EVENT = 'Bag Minimum Security Level: ' + [LEVEL] + ', ' +
			CASE WHEN (FLIGHT_TYPE='1') THEN 'Customs Required: False' ELSE 
			CASE WHEN (FLIGHT_TYPE='0') THEN 'Customs Required: True' END END FROM ITEM_MINIMUM_SECURITY_LEVEL
			WHERE LICENSE_PLATE = @LP
			UNION ALL
			SELECT DISTINCT M.TIME_STAMP, BAG_EVENT = 'Bag redirected to ' +
			D.DESTINATION + COALESCE(',' + D1.DESTINATION, '') + COALESCE(',' + D2.DESTINATION, '') + COALESCE(',' + D3.DESTINATION, '') + COALESCE(',' + D4.DESTINATION, '') +
			COALESCE(',' + D5.DESTINATION, '') + ' which is ' + R.DESCRIPTION + '.'
			FROM TTS_ITEM_REDIRECT_MULTIPLE_DESTINATION M JOIN CHUTE_MAPPING C ON M.DESTINATION = C.TTS_ID AND C.SORTER=M.SUBSYSTEM
			JOIN SORTATION_REASON R ON M.REASON = R.REASON 
			LEFT JOIN CHUTE_MAPPING D ON M.DESTINATION = D.TTS_ID AND M.SUBSYSTEM=D.SORTER
			LEFT JOIN CHUTE_MAPPING D1 ON M.ALTERNATIVE_DESTINATION1 = D1.TTS_ID AND M.SUBSYSTEM=D1.SORTER
			LEFT JOIN CHUTE_MAPPING D2 ON M.ALTERNATIVE_DESTINATION2 = D2.TTS_ID AND M.SUBSYSTEM=D2.SORTER
			LEFT JOIN CHUTE_MAPPING D3 ON M.ALTERNATIVE_DESTINATION3 = D3.TTS_ID AND M.SUBSYSTEM=D3.SORTER
			LEFT JOIN CHUTE_MAPPING D4 ON M.ALTERNATIVE_DESTINATION4 = D4.TTS_ID AND M.SUBSYSTEM=D4.SORTER
			LEFT JOIN CHUTE_MAPPING D5 ON M.ALTERNATIVE_DESTINATION5 = D5.TTS_ID AND M.SUBSYSTEM=D5.SORTER
			WHERE LICENSE_PLATE = @LP
			UNION ALL
			SELECT DISTINCT A.TIME_STAMP, BAG_EVENT = 'Bag redirect acknowledge received with reason : ' + R.DESCRIPTION + '.'
			FROM #TTS_ITEM_REDIRECT_ACKNOWLEDGE_TEMP A JOIN TTS_ITEM_REDIRECT_ACKNOWLEDGE_REASON_TYPE R ON R.TYPE = A.REASON
			WHERE A.LICENSE_PLATE = @LP
		FETCH NEXT FROM LP_Cursor INTO @LP;
		END
			
	CLOSE LP_Cursor;
	DEALLOCATE LP_Cursor;
	--END

	IF EXISTS (SELECT NAME FROM tempdb..sysobjects WHERE NAME LIKE '#BAG_TRACE_OUTPUT')
			BEGIN
				DROP TABLE #BAG_TRACE_OUTPUT;
			END
	SELECT DISTINCT TIME_STAMP, BAG_EVENT INTO #BAG_TRACE_OUTPUT FROM #BAG_TRACE_TEMP WHERE TIME_STAMP BETWEEN @DTFrom AND @DTTo ORDER BY TIME_STAMP

	--INSERT INTO #BAG_TRACE_OUTPUT (TIME_STAMP,BAG_EVENT)
	--	SELECT DISTINCT TIME_STAMP, BAG_EVENT= 'BSM received for the bag with License Plate (' + @LICENSE_PLATE + ')' FROM BAG_SORTING WHERE LICENSE_PLATE=@LICENSE_PLATE
	--	UNION ALL
	--	SELECT DISTINCT FPS.TIME_STAMP, BAG_EVENT= 'Flight '+ FPS.AIRLINE + ' ' + FPS.FLIGHT_NUMBER  + ', STD ' + CONVERT(VARCHAR(10),FPS.SDO,103) + ' ' + DBO.RPT_GETFORMATTEDSTO(FPS.STO) + ':00' +   
	--		   ' received for the bag with License Plate (' + @LICENSE_PLATE + ')' FROM FLIGHT_PLAN_SORTING FPS JOIN BAG_SORTING BGS ON BGS.AIRLINE=FPS.AIRLINE AND BGS.FLIGHT_NUMBER=FPS.FLIGHT_NUMBER  AND BGS.SDO= FPS.SDO WHERE BGS.LICENSE_PLATE=@LICENSE_PLATE		
			   
	SELECT ID = ROW_NUMBER() OVER(ORDER BY TIME_STAMP), TIME_STAMP, BAG_EVENT FROM #BAG_TRACE_OUTPUT WHERE (BAG_EVENT<>'NULL' AND BAG_EVENT<>'')

	DROP TABLE #GID_USED_TEMP
	DROP TABLE #ITEM_INVENTORY_TEMP
	DROP TABLE #ITEM_INVENTORY_HISTORY_TEMP
	DROP TABLE #BAGGAGE_MEASURE_ARRAY_MSG_TEMP
	DROP TABLE #ITEM_SCANNED_TEMP
	DROP TABLE #ITEM_REDIRECT_TEMP
	DROP TABLE #ITEM_PROCEEDED_TEMP
	DROP TABLE #ITEM_LOST_TEMP
	DROP TABLE #ITEM_READY_TEMP
	DROP TABLE #ITEM_ENCODED_TEMP
	DROP TABLE #ITEM_REMOVED_TEMP
	DROP TABLE #ITEM_TRACKING_TEMP
	DROP TABLE #ITEM_CUSTOMS_SCREENED_TEMP
	DROP TABLE #ITEM_SCREENED_TEMP
	DROP TABLE #ITEM_MINIMUM_SECURITY_LEVEL_TEMP
	DROP TABLE #TTS_ITEM_TRANSFER_TEMP
	DROP TABLE #TTS_SCANNER_RESULT_TEMP
	DROP TABLE #TTS_ITEM_INDUCTED_TEMP
	DROP TABLE #TTS_ITEM_REDIRECT_TEMP
	DROP TABLE #TTS_DISCHARGE_SUPERVISION_TEMP
	DROP TABLE #TTS_ITEM_DISCHARGED_TEMP
	DROP TABLE #TTS_ITEM_SORTATION_EVENT_TEMP
	DROP TABLE #TTS_ITEM_DISAPPEARED_TEMP
	DROP TABLE #TTS_ITEM_REDIRECT_MULTIPLE_DESTINATION_TEMP	
	DROP TABLE #BAG_TAG_TEMP
	DROP TABLE #BAG_TRACE_TEMP
	DROP TABLE #BAG_TRACE_OUTPUT
END
